{% set navigation = [
{'url': 'index', 'display_name': 'HOME'},
{'url': 'about', 'display_name': 'ABOUT ME'},
{'url': 'about', 'display_name': 'GALLERY'},
{'url': 'contact', 'display_name': 'CONTACT'}
] -%}
{% set active_page = active_page|default('index') -%}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav navbar-right">
{% for item in navigation %}
<li><a class="nav-link {% if item['url'] == active_page %} active {% endif %}" href="{{url_for(item['url']) }}">{{ item['display_name'] }}</a></li>
{% endfor %}
      </ul>
    </div>
</nav>
