<div id="gallery" class="bg-1">
  <div class="album">
    <div class="container text-center">
      <h3>IMAGE GALLERY</h3>
      <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for file in files %}
        <div class="col">
          <a href="" data-bs-toggle="modal" data-bs-target="#{{ file[0:-4] }}">
            <img src="/static/gallery/{{ file }}" class="img-thumbnail">
          </a>
        </div>  
{% endfor %}
      </div>
    </div>

<!-- Modal -->
{% for file in files %}
<div class="modal fade" id="{{ file[0:-4] }}" tabindex="-1" aria-labelledby="{{ file }}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="{{ file }}Label">{{ file }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/static/gallery/{{ file }}" class="img-fluid">
      </div>
      <div class="text-center py-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  </div>
</div>

