{% extends "base.html" %}
{% block title %}Panda Style Student{% endblock %}
{% set active_page = "index" -%}
{% block body %}


<div id="home">
  <div class="container text-center">
   <h3>PANDA STYLE STUDENT</h3>
    <img src="static/panda_logo.png">
    <p>This is my website for programming and application architecture class in the cloud at WSB Wrocław.
    <br>
    This page is designed to learn programming using: MS Azure, bootstrap, CSS, flask, html, jinja, python and many other components.</p>
  </div>
</div>

<div id="gallery" class="bg-1">
  <div class="container text-center">
    <h3>IMAGE GALLERY</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6758771.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6758773.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6758779.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6782351.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6782353.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="/static/gallery/pexels-max-vakhtbovych-6782354.jpg" alt="Panda Gallery Picture" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="aboutme">
  <div class="container">
  <h3 class="text-center">ABOUT ME</h3>
  <p class="text-center">Panda style student demanding best as possible degree.</p>
</div>

<div id="contact">
  <div class="container">
  <h3 class="text-center">CONTACT</h3>
  <p class="text-center">Please, do not bother me.</p>

  <div class="row">
    <div class="col-md-4">
      <p>Need contact? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Poland</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +0048 700 420 69 69</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: dont@disturb.me</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
