{% set navigation = [
{'url': '/#home', 'display_name': 'HOME'},
{'url': '/#gallery', 'display_name': 'GALLERY'},
{'url': '/#aboutme', 'display_name': 'ABOUT ME'},
{'url': '/#contact', 'display_name': 'CONTACT'},
{'url': url_for('guestbook'), 'display_name': 'GUESTBOOK'}
] -%}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#home">PandaStyle</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
{% for item in navigation %}
        <li><a href="{{ item['url'] }}">{{ item['display_name'] }}</a></li>
{% endfor %}
      </ul>
    </div>
  </div>
</nav>

